@using LiftoffPractice.Models

@model List<Material>



@{
    ViewData["Title"] = "Home Page";
}
<h1>Practice Home</h1>

<h2>Practice Materials</h2>

<p>
    <a asp-controller="Home" asp-action="Create">Create Material</a>
</p>
<p>
    <a asp-controller="Home" asp-action="Delete">Delete Material</a>
</p>

@if (ViewBag.Materials.Count == 0)
{
    <p> No materials created yet</p>
}
else
{
<div class="index-table-all">
    <table class="table index-table" id="index-table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Artist/Composer
            </th>
            <th>
                Key
            </th>
        </tr>
        @foreach (var material in ViewBag.Materials)
        {
            <tr>
                <td><a asp-controller="Home" asp-action="Detail" asp-route-id="@material.Id">@material.Name</a></td>
                <td>@material.ArtistComposer</td>
                <td>@material.KeyCenter</td>
            </tr>
        }
    </table>


    @*get this to work as a table in refactoring and remove delete page*@
    <form method="post">
        @foreach (var material in ViewBag.Materials)
        {
            <div class="form-group">
                <label>
                    <span>@material.Name</span>
                    <input type="checkbox" name="materialIds" value="@material.Id"/>
                </label>
            </div>
        }

        <input type="submit" name="Delete Selected Materials" value="Delete Selected Materials" class="btn btn-danger" asp-controller="Home" asp-action="Delete"/>
    </form>
</div>
}